<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Error</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			<form method='post' action="">
				<h2>Something with Quandle has gone wrong. <a href="/index">Back to Home</a> </h2> <br>
				<h3> Most likely, the ticker you entered was not found in the dataset.</h3>
			</form>
		</div>
	</body>
</html>
