<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}

{% block content %}
	        <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Correlations Within Categories</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/index" role="button"  style="display: none;">Back</a></p>
    </div>
      
      <div class="row">
        <div class="col-lg-4">
          <h2>Spending Habits</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/spendingcorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"><img src="/static/spending_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Health Habits</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/healthcorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/health_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Demographics</h2>
    		  <ul>
                <p><a class="btn btn-primary" href="/demographicscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/demographics_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Music</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/musiccorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/music_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Movies</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/moviescorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/movies_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Interests</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/interestscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/interests_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-4">
          <h2>Hobbies</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/hobbiescorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/hobbies_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>     
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Phobias</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/phobiascorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/phobias_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div> <!-- /row -->

      <div class="row">
        <div class="col-lg-4">
          <h2>Traits - Achievement</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/traitscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/traits_A_Finances_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>      

      <div class="row">
        <div class="col-lg-4">
          <h2>Traits - Empathy</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/traitscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/traits_E_Finances_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>      

      <div class="row">
        <div class="col-lg-4">
          <h2>Traits - Struggle</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/traitscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <img src="/static/traits_S_Finances_corr.png" alt="Data_features" style="width:1216px;height:912px;"></p>
    		  </ul>
        </div>
      </div>      

       		   
{% endblock %}

</html>