<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="bootstrap-3.3.7/docs/favicon.ico">

    <title>TDI Capstone Project - AGR</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Capstone Project - Amalia Gallardo</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="#">Descriptive</a></li>
            <li><a href="#">Visualization</a></li>
            <li><a href="#">Exploratory</a></li>
            <li><a href="#">Modeling</a></li>
            <li><a href="#">Conclusions</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Overview of the Data</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">View of the data</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Description</h2>
		  <ul>
		  <li><p>The data file consists of 1010 rows and 150 columns.</p></li>
          <li><p>Columns have a short and a long name. </p></li>
		  <li><p>The long name explains the meaning.</p></li>
		  <li><p>135 columns are ordinal (Values: 1 to 5).</p></li>
		  <li><p>4 columns are numeric (integer). E.g: age. </p></li>
		  <li><p>11 columns are categorical.</p></li>
		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Features</h2>
		  <ul>
 		  <li><p>Music preferences (19 items)</p></li>
		  <li><p>Movie preferences (12 items)</p></li>
		  <li><p>Hobbies & interests (32 items)</p></li>
		  <li><p>Phobias (10 items)</p></li>
		  <li><p>Health habits (3 items)</p></li>
		  <li><p>Personality traits, views & opinions (57 items)</p></li>
		  <li><p>Spending habits (7 items)</p></li>
		  <li><p>Demographics (10 items)</p></li>
		  </ul>
       </div>
	   <div class="col-lg-4">
          <h2>Other Information</h2>
		  <ul>
 		  <li><p>The data contain missing values. </p></li>
	      <li><p>The original questionnaire was in Slovak language and was later translated into English.</p></li>
		  <li><p>All participants were of Slovakian nationality, aged between 15-30.</p></li>
		  </ul>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
