<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Overview of the Data</h1>
        <p><a class="btn btn-lg btn-success" href="#" role="button">View of the data</a></p>
        <p class="lead"> <li class="active"><img src="/static/Data_features.jpg" alt="Data_features" style="width:608px;height:456px;"></li></p>
      </div>
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Description</h2>
		  <ul>
		  <li><p>The data file consists of 1010 rows and 150 columns.</p></li>
          <li><p>Columns have a short and a long name. </p></li>
		  <li><p>The long name explains the meaning.</p></li>
		  <li><p>135 columns are ordinal (Values: 1 to 5).</p></li>
		  <li><p>4 columns are numeric (integer). E.g: age. </p></li>
		  <li><p>11 columns are categorical.</p></li>
		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Features</h2>
		  <ul>
 		  <li><p>Music preferences (19 items)</p></li>
		  <li><p>Movie preferences (12 items)</p></li>
		  <li><p>Hobbies & interests (32 items)</p></li>
		  <li><p>Phobias (10 items)</p></li>
		  <li><p>Health habits (3 items)</p></li>
		  <li><p>Personality traits, views & opinions (57 items)</p></li>
		  <li><p>Spending habits (7 items)</p></li>
		  <li><p>Demographics (10 items)</p></li>
		  </ul>
       </div>
	   <div class="col-lg-4">
          <h2>Other Information</h2>
		  <ul>
 		  <li><p>The data contain missing values. </p></li>
	      <li><p>The original questionnaire was in Slovak language and was later translated into English.</p></li>
		  <li><p>All participants were of Slovakian nationality, aged between 15-30.</p></li>
		  </ul>
        </div>
      </div>

{% endblock %}
</html>
