<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}

{% block content %}
	        <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Descriptive Analysis</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/featuredesc_new" role="button">Back</a></p>
    </div>
      
      <div class="row">
        <div class="col-lg-4">
          <h2>Spending Habits</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/spending" role="button">View details &raquo;</a></p>
            </ul>
        </div>
        <div class="col-lg-4">
          <h2>Health Habits</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/health" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Demographics</h2>
    		  <ul>
                <p><a class="btn btn-primary" href="/demographics" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>

      </div> <!-- /row -->

      <div class="row">
        <div class="col-lg-4">
          <h2>Music</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/music" role="button">View details &raquo;</a></p>
            </ul>
        </div>
        <div class="col-lg-4">
          <h2>Movies</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/movies" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Interests</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/interests" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>
      </div> <!-- /row -->
      
      <div class="row">
        <div class="col-lg-4">
          <h2>Hobbies</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/hobbies" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>     
        <div class="col-lg-4">
          <h2>Traits</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/traits" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Phobias</h2>
    		  <ul>
        		   <p><a class="btn btn-primary" href="/phobias" role="button">View details &raquo;</a></p>
    		  </ul>
        </div>
      </div> <!-- /row -->
       		   
{% endblock %}

</html>