<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feature</th>
      <th>Importance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>126</th>
      <td>Getting up</td>
      <td>0.015490</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Prioritising workload</td>
      <td>0.013572</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Entertainment spending</td>
      <td>0.011487</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Spending on looks</td>
      <td>0.010963</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Questionnaires or polls</td>
      <td>0.009865</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Decision making</td>
      <td>0.009839</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Thinking ahead</td>
      <td>0.009174</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Keeping promises</td>
      <td>0.008906</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Public speaking</td>
      <td>0.008606</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Reliability</td>
      <td>0.008095</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Punctuality_i am often early</td>
      <td>0.007937</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Small - big dogs</td>
      <td>0.007912</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Mathematics</td>
      <td>0.007794</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Parents' advice</td>
      <td>0.007703</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Finding lost valuables</td>
      <td>0.007469</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Borrowed stuff</td>
      <td>0.007401</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Dance</td>
      <td>0.007361</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Branded clothing</td>
      <td>0.007348</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Workaholism</td>
      <td>0.007278</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Fun with friends</td>
      <td>0.007229</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Active sport</td>
      <td>0.007184</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Folk</td>
      <td>0.007164</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Number of friends</td>
      <td>0.007086</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Dancing</td>
      <td>0.007057</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Spiders</td>
      <td>0.007037</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Assertiveness</td>
      <td>0.007009</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Storm</td>
      <td>0.006926</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Shopping</td>
      <td>0.006845</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Elections</td>
      <td>0.006812</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Reading</td>
      <td>0.006783</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Writing notes</td>
      <td>0.006727</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Socializing</td>
      <td>0.006616</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Country</td>
      <td>0.006603</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Energy levels</td>
      <td>0.006599</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Punctuality_i am often running late</td>
      <td>0.006589</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Rock</td>
      <td>0.006588</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Medicine</td>
      <td>0.006552</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Interests or hobbies</td>
      <td>0.006509</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Romantic</td>
      <td>0.006505</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Biology</td>
      <td>0.006460</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Appearence and gestures</td>
      <td>0.006460</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Economy Management</td>
      <td>0.006455</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Giving</td>
      <td>0.006448</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Metal or Hardrock</td>
      <td>0.006432</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Mood swings</td>
      <td>0.006420</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Classical music</td>
      <td>0.006401</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Techno, Trance</td>
      <td>0.006362</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Achievements</td>
      <td>0.006344</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Law</td>
      <td>0.006342</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Reggae, Ska</td>
      <td>0.006331</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Self-criticism</td>
      <td>0.006323</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Spending on gadgets</td>
      <td>0.006317</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Opera</td>
      <td>0.006303</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Final judgement</td>
      <td>0.006299</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Dangerous dogs</td>
      <td>0.006285</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Knowing the right people</td>
      <td>0.006281</td>
    </tr>
    <tr>
      <th>25</th>
      <td>War</td>
      <td>0.006274</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Fear of public speaking</td>
      <td>0.006274</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Loss of interest</td>
      <td>0.006206</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Theatre</td>
      <td>0.006206</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Sci-fi</td>
      <td>0.006204</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Weight</td>
      <td>0.006197</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Height</td>
      <td>0.006184</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Art exhibitions</td>
      <td>0.006180</td>
    </tr>
    <tr>
      <th>31</th>
      <td>History</td>
      <td>0.006168</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Countryside, outdoors</td>
      <td>0.006145</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Gardening</td>
      <td>0.006123</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Animated</td>
      <td>0.006120</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Criminal damage</td>
      <td>0.006115</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Rats</td>
      <td>0.006057</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Celebrities</td>
      <td>0.006048</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Responding to a serious letter</td>
      <td>0.006041</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Rock n roll</td>
      <td>0.006018</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Geography</td>
      <td>0.005998</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Smoking</td>
      <td>0.005995</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Alternative</td>
      <td>0.005992</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Fake</td>
      <td>0.005964</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Compassion to animals</td>
      <td>0.005952</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Age</td>
      <td>0.005949</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Psychology</td>
      <td>0.005948</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Personality</td>
      <td>0.005934</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Shopping centres</td>
      <td>0.005913</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Eating to survive</td>
      <td>0.005909</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Cheating in school</td>
      <td>0.005908</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Flying</td>
      <td>0.005881</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Hypochondria</td>
      <td>0.005873</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Funniness</td>
      <td>0.005867</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Darkness</td>
      <td>0.005853</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Pets</td>
      <td>0.005845</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Friends versus money</td>
      <td>0.005844</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Musical</td>
      <td>0.005830</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Life struggles</td>
      <td>0.005820</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Changing the past</td>
      <td>0.005810</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Cars</td>
      <td>0.005809</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Latino</td>
      <td>0.005804</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Waiting</td>
      <td>0.005804</td>
    </tr>
    <tr>
      <th>147</th>
      <td>village</td>
      <td>0.005803</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Religion</td>
      <td>0.005798</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Unpopularity</td>
      <td>0.005789</td>
    </tr>
    <tr>
      <th>103</th>
      <td>God</td>
      <td>0.005780</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Politics</td>
      <td>0.005778</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Adrenaline sports</td>
      <td>0.005766</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Judgment calls</td>
      <td>0.005762</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Physics</td>
      <td>0.005760</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Hiphop, Rap</td>
      <td>0.005744</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Slow songs or fast songs</td>
      <td>0.005741</td>
    </tr>
    <tr>
      <th>108</th>
      <td>New environment</td>
      <td>0.005731</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Thriller</td>
      <td>0.005717</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Western</td>
      <td>0.005716</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Children</td>
      <td>0.005698</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Musical instruments</td>
      <td>0.005668</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Number of siblings</td>
      <td>0.005659</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Science and technology</td>
      <td>0.005657</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Empathy</td>
      <td>0.005630</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Action</td>
      <td>0.005591</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Punk</td>
      <td>0.005589</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Horror</td>
      <td>0.005572</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Chemistry</td>
      <td>0.005549</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Heights</td>
      <td>0.005537</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Snakes</td>
      <td>0.005537</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Passive sport</td>
      <td>0.005529</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Documentary</td>
      <td>0.005523</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Daily events</td>
      <td>0.005510</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Charity</td>
      <td>0.005510</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Health</td>
      <td>0.005482</td>
    </tr>
    <tr>
      <th>146</th>
      <td>city</td>
      <td>0.005481</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Pop</td>
      <td>0.005440</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Ageing</td>
      <td>0.005437</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Writing</td>
      <td>0.005387</td>
    </tr>
    <tr>
      <th>155</th>
      <td>secondary school</td>
      <td>0.005361</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Punctuality_i am always on time</td>
      <td>0.005357</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Lying_sometimes</td>
      <td>0.005346</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Loneliness</td>
      <td>0.005345</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Swing, Jazz</td>
      <td>0.005322</td>
    </tr>
    <tr>
      <th>149</th>
      <td>house/bungalow</td>
      <td>0.005303</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Getting angry</td>
      <td>0.005264</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Spending on healthy eating</td>
      <td>0.005251</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Comedy</td>
      <td>0.005244</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Internet</td>
      <td>0.005159</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Fantasy/Fairy tales</td>
      <td>0.005159</td>
    </tr>
    <tr>
      <th>37</th>
      <td>PC</td>
      <td>0.005131</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Healthy eating</td>
      <td>0.005097</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Happiness in life</td>
      <td>0.005089</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Foreign languages</td>
      <td>0.005077</td>
    </tr>
    <tr>
      <th>148</th>
      <td>block of flats</td>
      <td>0.004956</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Movies</td>
      <td>0.004945</td>
    </tr>
    <tr>
      <th>144</th>
      <td>only_no</td>
      <td>0.004684</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Internet_less than an hour a day</td>
      <td>0.004436</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Alcohol</td>
      <td>0.004429</td>
    </tr>
    <tr>
      <th>150</th>
      <td>college/bachelor degree</td>
      <td>0.004392</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Dreams</td>
      <td>0.004388</td>
    </tr>
    <tr>
      <th>145</th>
      <td>only_yes</td>
      <td>0.004354</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Lying_everytime it suits me</td>
      <td>0.004033</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Internet_few hours a day</td>
      <td>0.004013</td>
    </tr>
    <tr>
      <th>140</th>
      <td>female</td>
      <td>0.003970</td>
    </tr>
    <tr>
      <th>141</th>
      <td>male</td>
      <td>0.003916</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Lying_only to avoid hurting someone</td>
      <td>0.003911</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Music</td>
      <td>0.003402</td>
    </tr>
    <tr>
      <th>142</th>
      <td>left handed</td>
      <td>0.003186</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Internet_most of the day</td>
      <td>0.002820</td>
    </tr>
    <tr>
      <th>143</th>
      <td>right handed</td>
      <td>0.002613</td>
    </tr>
    <tr>
      <th>153</th>
      <td>masters degree</td>
      <td>0.002610</td>
    </tr>
    <tr>
      <th>154</th>
      <td>primary school</td>
      <td>0.002492</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Lying_never</td>
      <td>0.001930</td>
    </tr>
    <tr>
      <th>152</th>
      <td>doctorate degree</td>
      <td>0.000594</td>
    </tr>
    <tr>
      <th>151</th>
      <td>currently a primary school pupil</td>
      <td>0.000516</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Internet_no time at all</td>
      <td>0.000092</td>
    </tr>
  </tbody>
</table>