<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feature</th>
      <th>PearsonCorr</th>
      <th>pvalue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>77</th>
      <td>Prioritising workload</td>
      <td>0.191909</td>
      <td>1.503283e-09</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Keeping promises</td>
      <td>0.161539</td>
      <td>3.905331e-07</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Decision making</td>
      <td>0.161283</td>
      <td>4.075830e-07</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Thinking ahead</td>
      <td>0.152205</td>
      <td>1.781124e-06</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Questionnaires or polls</td>
      <td>0.140641</td>
      <td>1.033432e-05</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Parents' advice</td>
      <td>0.126848</td>
      <td>7.072273e-05</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Borrowed stuff</td>
      <td>0.123096</td>
      <td>1.155453e-04</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Public speaking</td>
      <td>0.112109</td>
      <td>4.498352e-04</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Reliability</td>
      <td>0.110000</td>
      <td>5.762250e-04</td>
    </tr>
    <tr>
      <th>147</th>
      <td>village</td>
      <td>0.107193</td>
      <td>7.959652e-04</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Punctuality_i am often early</td>
      <td>0.102081</td>
      <td>1.406275e-03</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Workaholism</td>
      <td>0.101223</td>
      <td>1.543398e-03</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Mathematics</td>
      <td>0.100172</td>
      <td>1.728264e-03</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Finding lost valuables</td>
      <td>0.091188</td>
      <td>4.356777e-03</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Final judgement</td>
      <td>0.085215</td>
      <td>7.730267e-03</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Chemistry</td>
      <td>0.085096</td>
      <td>7.816253e-03</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Self-criticism</td>
      <td>0.083912</td>
      <td>8.721682e-03</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Gardening</td>
      <td>0.082251</td>
      <td>1.015033e-02</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Reading</td>
      <td>0.080902</td>
      <td>1.145908e-02</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Country</td>
      <td>0.076890</td>
      <td>1.627953e-02</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Medicine</td>
      <td>0.076358</td>
      <td>1.703622e-02</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Unpopularity</td>
      <td>0.069731</td>
      <td>2.938277e-02</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Writing notes</td>
      <td>0.068688</td>
      <td>3.189849e-02</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Biology</td>
      <td>0.065464</td>
      <td>4.087976e-02</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Geography</td>
      <td>0.063589</td>
      <td>4.702684e-02</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Folk</td>
      <td>0.062379</td>
      <td>5.139201e-02</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Fear of public speaking</td>
      <td>0.061593</td>
      <td>5.440546e-02</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Internet_less than an hour a day</td>
      <td>0.061208</td>
      <td>5.593601e-02</td>
    </tr>
    <tr>
      <th>149</th>
      <td>house/bungalow</td>
      <td>0.060980</td>
      <td>5.685648e-02</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Documentary</td>
      <td>0.059468</td>
      <td>6.329852e-02</td>
    </tr>
    <tr>
      <th>103</th>
      <td>God</td>
      <td>0.057619</td>
      <td>7.197467e-02</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Countryside, outdoors</td>
      <td>0.055663</td>
      <td>8.219357e-02</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Opera</td>
      <td>0.055649</td>
      <td>8.227287e-02</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Health</td>
      <td>0.053317</td>
      <td>9.596522e-02</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Eating to survive</td>
      <td>0.052670</td>
      <td>1.000747e-01</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Western</td>
      <td>0.050654</td>
      <td>1.137741e-01</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Religion</td>
      <td>0.050628</td>
      <td>1.139590e-01</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Physics</td>
      <td>0.049628</td>
      <td>1.212896e-01</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Foreign languages</td>
      <td>0.049172</td>
      <td>1.247456e-01</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Friends versus money</td>
      <td>0.045627</td>
      <td>1.543432e-01</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Elections</td>
      <td>0.045367</td>
      <td>1.567123e-01</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Empathy</td>
      <td>0.040676</td>
      <td>2.042017e-01</td>
    </tr>
    <tr>
      <th>152</th>
      <td>doctorate degree</td>
      <td>0.037720</td>
      <td>2.390723e-01</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Age</td>
      <td>0.036179</td>
      <td>2.588229e-01</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Writing</td>
      <td>0.035383</td>
      <td>2.694488e-01</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Animated</td>
      <td>0.032859</td>
      <td>3.051191e-01</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Classical music</td>
      <td>0.032736</td>
      <td>3.069341e-01</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Latino</td>
      <td>0.031523</td>
      <td>3.252192e-01</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Musical</td>
      <td>0.031056</td>
      <td>3.324347e-01</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Reggae, Ska</td>
      <td>0.031026</td>
      <td>3.329041e-01</td>
    </tr>
    <tr>
      <th>140</th>
      <td>female</td>
      <td>0.030853</td>
      <td>3.356114e-01</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Charity</td>
      <td>0.025776</td>
      <td>4.211858e-01</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Science and technology</td>
      <td>0.025214</td>
      <td>4.313850e-01</td>
    </tr>
    <tr>
      <th>155</th>
      <td>secondary school</td>
      <td>0.024889</td>
      <td>4.373482e-01</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Healthy eating</td>
      <td>0.024198</td>
      <td>4.501836e-01</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Life struggles</td>
      <td>0.023962</td>
      <td>4.546137e-01</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Happiness in life</td>
      <td>0.021514</td>
      <td>5.020090e-01</td>
    </tr>
    <tr>
      <th>145</th>
      <td>only_yes</td>
      <td>0.020051</td>
      <td>5.315220e-01</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Loneliness</td>
      <td>0.020040</td>
      <td>5.317638e-01</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Children</td>
      <td>0.019991</td>
      <td>5.327496e-01</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Punk</td>
      <td>0.019647</td>
      <td>5.398279e-01</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Responding to a serious letter</td>
      <td>0.018831</td>
      <td>5.567970e-01</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Theatre</td>
      <td>0.017541</td>
      <td>5.841538e-01</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Pets</td>
      <td>0.016853</td>
      <td>5.989759e-01</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Dangerous dogs</td>
      <td>0.016730</td>
      <td>6.016585e-01</td>
    </tr>
    <tr>
      <th>153</th>
      <td>masters degree</td>
      <td>0.016720</td>
      <td>6.018741e-01</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Lying_sometimes</td>
      <td>0.015000</td>
      <td>6.397544e-01</td>
    </tr>
    <tr>
      <th>31</th>
      <td>History</td>
      <td>0.014203</td>
      <td>6.576469e-01</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Sci-fi</td>
      <td>0.013938</td>
      <td>6.636258e-01</td>
    </tr>
    <tr>
      <th>142</th>
      <td>left handed</td>
      <td>0.013111</td>
      <td>6.824745e-01</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Lying_never</td>
      <td>0.012219</td>
      <td>7.030197e-01</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Flying</td>
      <td>0.011358</td>
      <td>7.230499e-01</td>
    </tr>
    <tr>
      <th>37</th>
      <td>PC</td>
      <td>0.009786</td>
      <td>7.601107e-01</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Compassion to animals</td>
      <td>0.009548</td>
      <td>7.657615e-01</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Daily events</td>
      <td>0.008736</td>
      <td>7.851805e-01</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Psychology</td>
      <td>0.008411</td>
      <td>7.929955e-01</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Punctuality_i am always on time</td>
      <td>0.007854</td>
      <td>8.064010e-01</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Waiting</td>
      <td>0.004724</td>
      <td>8.828295e-01</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Politics</td>
      <td>0.003508</td>
      <td>9.128329e-01</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Metal or Hardrock</td>
      <td>0.003468</td>
      <td>9.138333e-01</td>
    </tr>
    <tr>
      <th>25</th>
      <td>War</td>
      <td>0.002302</td>
      <td>9.427466e-01</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Mood swings</td>
      <td>0.001347</td>
      <td>9.664836e-01</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Ageing</td>
      <td>0.000928</td>
      <td>9.768911e-01</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Internet</td>
      <td>-0.000221</td>
      <td>9.945040e-01</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Fantasy/Fairy tales</td>
      <td>-0.000907</td>
      <td>9.774192e-01</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Hypochondria</td>
      <td>-0.001153</td>
      <td>9.712986e-01</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Internet_no time at all</td>
      <td>-0.001869</td>
      <td>9.534865e-01</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Spending on healthy eating</td>
      <td>-0.002302</td>
      <td>9.427294e-01</td>
    </tr>
    <tr>
      <th>151</th>
      <td>currently a primary school pupil</td>
      <td>-0.003248</td>
      <td>9.192789e-01</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Lying_only to avoid hurting someone</td>
      <td>-0.007463</td>
      <td>8.158762e-01</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Number of siblings</td>
      <td>-0.007561</td>
      <td>8.134935e-01</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Passive sport</td>
      <td>-0.008551</td>
      <td>7.896289e-01</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Pop</td>
      <td>-0.010184</td>
      <td>7.506581e-01</td>
    </tr>
    <tr>
      <th>143</th>
      <td>right handed</td>
      <td>-0.013111</td>
      <td>6.824745e-01</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Musical instruments</td>
      <td>-0.014403</td>
      <td>6.531322e-01</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Alternative</td>
      <td>-0.014824</td>
      <td>6.436981e-01</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Achievements</td>
      <td>-0.017123</td>
      <td>5.931353e-01</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Movies</td>
      <td>-0.017567</td>
      <td>5.835888e-01</td>
    </tr>
    <tr>
      <th>150</th>
      <td>college/bachelor degree</td>
      <td>-0.019119</td>
      <td>5.507824e-01</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Darkness</td>
      <td>-0.019192</td>
      <td>5.492575e-01</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Thriller</td>
      <td>-0.019670</td>
      <td>5.393517e-01</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Lying_everytime it suits me</td>
      <td>-0.019714</td>
      <td>5.384564e-01</td>
    </tr>
    <tr>
      <th>144</th>
      <td>only_no</td>
      <td>-0.020051</td>
      <td>5.315220e-01</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Economy Management</td>
      <td>-0.020614</td>
      <td>5.200678e-01</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Celebrities</td>
      <td>-0.021457</td>
      <td>5.031478e-01</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Swing, Jazz</td>
      <td>-0.022151</td>
      <td>4.894376e-01</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Internet_few hours a day</td>
      <td>-0.022265</td>
      <td>4.872042e-01</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Rock</td>
      <td>-0.023753</td>
      <td>4.585670e-01</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Music</td>
      <td>-0.025311</td>
      <td>4.296174e-01</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Giving</td>
      <td>-0.025384</td>
      <td>4.282911e-01</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Law</td>
      <td>-0.025437</td>
      <td>4.273232e-01</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Fake</td>
      <td>-0.025773</td>
      <td>4.212393e-01</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Judgment calls</td>
      <td>-0.028110</td>
      <td>3.803662e-01</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Heights</td>
      <td>-0.028194</td>
      <td>3.789296e-01</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Getting angry</td>
      <td>-0.029069</td>
      <td>3.643106e-01</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Romantic</td>
      <td>-0.029848</td>
      <td>3.515983e-01</td>
    </tr>
    <tr>
      <th>141</th>
      <td>male</td>
      <td>-0.030853</td>
      <td>3.356114e-01</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Action</td>
      <td>-0.032738</td>
      <td>3.069022e-01</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Snakes</td>
      <td>-0.032847</td>
      <td>3.053019e-01</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Comedy</td>
      <td>-0.033339</td>
      <td>2.981144e-01</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Dreams</td>
      <td>-0.033904</td>
      <td>2.899950e-01</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Internet_most of the day</td>
      <td>-0.034458</td>
      <td>2.821749e-01</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Rock n roll</td>
      <td>-0.034824</td>
      <td>2.770905e-01</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Cars</td>
      <td>-0.036561</td>
      <td>2.538162e-01</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Changing the past</td>
      <td>-0.038248</td>
      <td>2.325485e-01</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Slow songs or fast songs</td>
      <td>-0.041543</td>
      <td>1.947222e-01</td>
    </tr>
    <tr>
      <th>108</th>
      <td>New environment</td>
      <td>-0.041893</td>
      <td>1.909811e-01</td>
    </tr>
    <tr>
      <th>154</th>
      <td>primary school</td>
      <td>-0.041988</td>
      <td>1.899822e-01</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Assertiveness</td>
      <td>-0.043487</td>
      <td>1.746325e-01</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Knowing the right people</td>
      <td>-0.044918</td>
      <td>1.608616e-01</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Art exhibitions</td>
      <td>-0.047269</td>
      <td>1.400380e-01</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Rats</td>
      <td>-0.048617</td>
      <td>1.290677e-01</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Horror</td>
      <td>-0.049079</td>
      <td>1.254668e-01</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Hiphop, Rap</td>
      <td>-0.053005</td>
      <td>9.793184e-02</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Weight</td>
      <td>-0.056100</td>
      <td>7.981859e-02</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Storm</td>
      <td>-0.057443</td>
      <td>7.285391e-02</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Personality</td>
      <td>-0.059600</td>
      <td>6.271079e-02</td>
    </tr>
    <tr>
      <th>148</th>
      <td>block of flats</td>
      <td>-0.060980</td>
      <td>5.685648e-02</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Funniness</td>
      <td>-0.061319</td>
      <td>5.549253e-02</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Adrenaline sports</td>
      <td>-0.061901</td>
      <td>5.320728e-02</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Dancing</td>
      <td>-0.062676</td>
      <td>5.029087e-02</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Loss of interest</td>
      <td>-0.064224</td>
      <td>4.486358e-02</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Techno, Trance</td>
      <td>-0.067256</td>
      <td>3.565513e-02</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Active sport</td>
      <td>-0.067900</td>
      <td>3.392312e-02</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Dance</td>
      <td>-0.067930</td>
      <td>3.384461e-02</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Appearence and gestures</td>
      <td>-0.069102</td>
      <td>3.087971e-02</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Interests or hobbies</td>
      <td>-0.069869</td>
      <td>2.906125e-02</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Spiders</td>
      <td>-0.071755</td>
      <td>2.497881e-02</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Shopping centres</td>
      <td>-0.073703</td>
      <td>2.129437e-02</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Alcohol</td>
      <td>-0.075019</td>
      <td>1.907997e-02</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Energy levels</td>
      <td>-0.075546</td>
      <td>1.825112e-02</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Height</td>
      <td>-0.079775</td>
      <td>1.266597e-02</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Spending on gadgets</td>
      <td>-0.086922</td>
      <td>6.583848e-03</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Criminal damage</td>
      <td>-0.090526</td>
      <td>4.650072e-03</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Cheating in school</td>
      <td>-0.093865</td>
      <td>3.333783e-03</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Branded clothing</td>
      <td>-0.097775</td>
      <td>2.228114e-03</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Socializing</td>
      <td>-0.102213</td>
      <td>1.386089e-03</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Smoking</td>
      <td>-0.102559</td>
      <td>1.334695e-03</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Small - big dogs</td>
      <td>-0.105403</td>
      <td>9.742671e-04</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Shopping</td>
      <td>-0.105462</td>
      <td>9.677625e-04</td>
    </tr>
    <tr>
      <th>146</th>
      <td>city</td>
      <td>-0.107193</td>
      <td>7.959652e-04</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Number of friends</td>
      <td>-0.112763</td>
      <td>4.162316e-04</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Punctuality_i am often running late</td>
      <td>-0.115191</td>
      <td>3.108515e-04</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Fun with friends</td>
      <td>-0.116358</td>
      <td>2.696197e-04</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Spending on looks</td>
      <td>-0.164507</td>
      <td>2.365923e-07</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Entertainment spending</td>
      <td>-0.199159</td>
      <td>3.453109e-10</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Getting up</td>
      <td>-0.204598</td>
      <td>1.103607e-10</td>
    </tr>
  </tbody>
</table>