<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Young People Survey</h1>
            <p align="justify">Study the relationship between eight groups of features and make predictions about habits and preferences.</p>
             <div class="container" style="width:100%; text-align:center">
                <p class="lead" align="center"><img src="/static/YPS.jpg" alt="" style="width:608px;height:456px;" align="middle"></p>
            </div>
      </div>

{% endblock %}
</html>
