<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Young People Survey</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/aboutsource" role="button">About the data source</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Project Objectives</h2>

          <p align="justify">Study the relationship between eight groups of features, and make predictions about young people spending habits and preferences.</p>

          <p><a class="btn btn-primary" href="/objectives" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Overview of the Data</h2>

          <p align="justify">The data file consists of 1010 rows and 150 columns. The 150 columns correspond to 8 groups of features. All participants aged between 15-30.</p>

		  <p><a class="btn btn-primary" href="/dataoverview" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Data Analysis Process</h2>

          <p align="justify">Will include missing values & outliers analysis, correlations, dimensionality reduction, clustering, and predictive modeling.</p>

          <p><a class="btn btn-primary" href="/process" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
</html>
