<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Missing Values</th>
      <th>% of Total Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Music</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Slow songs or fast songs</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Dance</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Folk</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Country</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Classical music</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Musical</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Pop</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Rock</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Metal or Hardrock</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Punk</th>
      <td>8</td>
      <td>0.792079</td>
    </tr>
    <tr>
      <th>Hiphop, Rap</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Reggae, Ska</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Swing, Jazz</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Rock n roll</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Alternative</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Latino</th>
      <td>8</td>
      <td>0.792079</td>
    </tr>
    <tr>
      <th>Techno, Trance</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Opera</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Movies</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Horror</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Thriller</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Comedy</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Romantic</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Sci-fi</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>War</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Fantasy/Fairy tales</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Animated</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Documentary</th>
      <td>8</td>
      <td>0.792079</td>
    </tr>
    <tr>
      <th>Western</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Action</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>History</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Psychology</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Politics</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Mathematics</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Physics</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Internet</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>PC</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Economy Management</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Biology</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Chemistry</th>
      <td>10</td>
      <td>0.990099</td>
    </tr>
    <tr>
      <th>Reading</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Geography</th>
      <td>9</td>
      <td>0.891089</td>
    </tr>
    <tr>
      <th>Foreign languages</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Medicine</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Law</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Cars</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Art exhibitions</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Religion</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Countryside, outdoors</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Dancing</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Musical instruments</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Writing</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Passive sport</th>
      <td>15</td>
      <td>1.485149</td>
    </tr>
    <tr>
      <th>Active sport</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Gardening</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Celebrities</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Shopping</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Science and technology</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Theatre</th>
      <td>8</td>
      <td>0.792079</td>
    </tr>
    <tr>
      <th>Fun with friends</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Adrenaline sports</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Pets</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Flying</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Storm</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Darkness</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Heights</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Spiders</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Snakes</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Rats</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Ageing</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Dangerous dogs</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Fear of public speaking</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Smoking</th>
      <td>8</td>
      <td>0.792079</td>
    </tr>
    <tr>
      <th>Alcohol</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Healthy eating</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Daily events</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Prioritising workload</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Writing notes</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Workaholism</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Thinking ahead</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Final judgement</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Reliability</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Keeping promises</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Loss of interest</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Friends versus money</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Funniness</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Fake</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Criminal damage</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Decision making</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Elections</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Self-criticism</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Judgment calls</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Hypochondria</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Empathy</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Eating to survive</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Giving</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Compassion to animals</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Borrowed stuff</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Loneliness</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Cheating in school</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Health</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Changing the past</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>God</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Dreams</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Charity</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Number of friends</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Punctuality</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Lying</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Waiting</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>New environment</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Mood swings</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Appearence and gestures</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Socializing</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Achievements</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Responding to a serious letter</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Children</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Assertiveness</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Getting angry</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Knowing the right people</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Public speaking</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Unpopularity</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Life struggles</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Happiness in life</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Energy levels</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Small - big dogs</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Personality</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Finding lost valuables</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Getting up</th>
      <td>5</td>
      <td>0.495050</td>
    </tr>
    <tr>
      <th>Interests or hobbies</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Parents' advice</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Questionnaires or polls</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>Internet usage</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Finances</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Shopping centres</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Branded clothing</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Entertainment spending</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Spending on looks</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Spending on gadgets</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>Spending on healthy eating</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>7</td>
      <td>0.693069</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>20</td>
      <td>1.980198</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>20</td>
      <td>1.980198</td>
    </tr>
    <tr>
      <th>Number of siblings</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>6</td>
      <td>0.594059</td>
    </tr>
    <tr>
      <th>Left - right handed</th>
      <td>3</td>
      <td>0.297030</td>
    </tr>
    <tr>
      <th>Education</th>
      <td>1</td>
      <td>0.099010</td>
    </tr>
    <tr>
      <th>Only child</th>
      <td>2</td>
      <td>0.198020</td>
    </tr>
    <tr>
      <th>Village - town</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
    <tr>
      <th>House - block of flats</th>
      <td>4</td>
      <td>0.396040</td>
    </tr>
  </tbody>
</table>