<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}

{% block content %}
	        <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Modeling</h1>
        <h2> Feature: Finances (Savers) </h2>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/process" role="button">Back</a></p>
        <p class="lead"> <img src="/static/ModelingPipeline.jpg" alt="Modeling_Pipeline" style="width:608px;height:456px;"></p>
    </div>
       
     <div class="row">
     
        <div class="col-lg-4">
          <h2>KNeighborsRegressor</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/spendingcorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <li class="active">Extremely bad fit, even using almost all features.</li></p>
                <p class="lead"> <li class="active">Score:  0.150975665644</li></p>
            </ul>
        </div>

        <div class="col-lg-4">
          <h2>LogisticRegression</h2>
    		  <ul>
        		  <p><a class="btn btn-primary" href="/healthcorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"> <li class="active">Features = ['Prioritising workload','Keeping promises', 'Decision making', 'Thinking ahead', 'Questionnaires or polls', 'Getting up', 'Entertainment spending', 'Spending on looks', 'Fun with friends', 'i am often running late']</li></p>
                <p class="lead"> <li class="active">Mean Accuracy Score :  0.702564102564</li></p>
                <p class="lead"> <li class="active">best_params         :  {'logpred__C': 0.3}</li></p>
            </ul>
        </div>

        <div class="col-lg-4">
          <h2></h2>
    		  <ul>
                <p><a class="btn btn-primary" href="/demographicscorr" role="button" style="display: none;">View details &raquo;</a></p>
                <p class="lead"><li class="active">logreg_pipe = Pipeline([
        ('selectcol', ColumnSelectTransformer(mycolumns)),
        ('logpred', LogisticRegression())])</li></p>        
                <p class="lead"><li class="active">best_estimator :  Pipeline(steps=[('selectcol', ColumnSelectTransformer(col_names=['Prioritising workload', 'Keeping promises', 'Decision making', 'Thinking ahead', 'Questionnaires or polls', 'Getting up', 'Entertainment spending', 'Spending on looks', 'Fun with friends', 'i am often running late'])), ('logpred', LogisticRegr...ty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])</li></p>
    		  </ul>
        </div>
     </div>

          		   
{% endblock %}

</html>