<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Objectives</h1>
		<h2>Research Questions</h2>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/objectives" role="button">Back</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Descriptive</h2>
          <p class="text-danger"></p>
		  <ul>
		  <p><li><b>Visualization:</b> How to effectively visualize a lot of variables in order to gain some meaningful insights from the data?</p></li>
		  <p><li><b>(Multivariate) Outlier detection:</b> Small number of participants often cheats and randomly answers the questions. Can you identify them?</p></li>
		  <p><li><b>Missing values analysis:</b> Are there any patterns in missing responses? What is the optimal way of imputing the values in surveys?</p></li>
		  </ul>
        </div>
        <div class="col-lg-4">
          <h2>Exploratory</h2>
		  <ul>
          <p><li><b>Correlation analysis:</b> Are there any connections between music and movie preferences?</p></li>
		  <p><li><b>Dimension reduction:</b> Can we describe a large number of human interests by a smaller number of latent concepts?</p></li>
		  <p><li><b>Clustering:</b> Given the music preferences, do people make up any clusters of similar behavior?</p></li>
		  </ul>
       </div>
        <div class="col-lg-4">
          <h2>Modeling</h2>
		  <ul>
		  <p><li><b>Predictive modeling:</b> Can we predict spending habits of a person from his/her interests and movie or music preferences? </p></li>
          <p><li><b>Recommendations:</b> If some of user's interests are known, can we predict the other? Or, if we know what a person listen, can we predict which kind of movies he/she might like?</p></li>
		  </ul>
        </div>
      </div>

{% endblock %}
</html>
