<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Project Objectives</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/project" role="button">Back</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Primary Objectives</h2>
          <p class="text-danger"></p>
		  <ol>
		  <li><p align="justify">Study the relationship between features such as personality traits, phobias, demographics, preferences, health and spending habits.</p></li>
		  <li><p align="justify">Implement statistical models to predict preferences, spending and health habits.</p></li>
		  <p></p>
		  </ol>
        </div>
        <div class="col-lg-4">
          <h2>Secondary Objectives</h2>
		  <ol>
          <li><p align="justify">Show the process of analyzing survey data in a structured way.</p></li>
		  <li><p align="justify">Perform a walkthrough of different statistical techniques.</p></li>
		  </ol>
       </div>
        <div class="col-lg-4">
          <h2>Questions and Answers</h2>
		  <ol>
          <li><p align="justify">The analysis and modeling will try to answer questions such as: if some of user's traits or preferences are known, can we predict a behaviour (habit)?</p></li>
		  <li><p align="justify">A sample of research questions can be viewed here: <a class="btn btn-primary" href="/obj_questions" role="button">Research questions</a></p></li>
         <p></p>
		  </ol>
        </div>
      </div>

{% endblock %}
</html>
