<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Data Analysis Process</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('processdiagram') }}" role="button">Process diagram</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Descriptive Analysis</h2>
		  <ul>
		  <li><p>Features description and visualization.</p></li>
		  <li><p>Missing values analysis and outliers analysis.</p></li>
		  </ul>
		  <p><a class="btn btn-primary" href="/featuredesc" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Exploratory Analysis</h2>
		  <ul>
          <li><p>Correlation analysis and dimensionality reduction.</p></li>
		  <li><p>Clustering.</p></li>
		  </ul>
		  <p><a class="btn btn-primary" href="/exploratory" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Modeling</h2>
		  <ul>
		  <li><p>Predictive modeling for spending habits.</p></li>
		  <li><p>Recommendation modeling for preferences.</p></li>
		  </ul>
		  <p><a class="btn btn-primary" href="/modeling" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
</html>
