<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Profiling</h1>
        <h2>What personality traits indicate propensities to certain habits?</h2>
        <div class="row">
            <div class="col-lg-4" align="center">
                <p align="center"><h2 align="center">Saver</h2></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p  align="center"><h2 align="center">Smoker</h2></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p  align="center"><h2 align="center">Drinker</h2></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" align="center">
                <p class="lead" align="center"><img src="/static/profile.jpg" alt="" style="width:304px;height:228px;" align="center"></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p class="lead" align="center"><img src="/static/profile.jpg" alt="" style="width:304px;height:228px;" align="center"></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p class="lead" align="center"><img src="/static/profile.jpg" alt="" style="width:304px;height:228px;" align="center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" align="center">
                <p align="center"><a class="btn btn-lg btn-success" href="#" role="button" >Soon available!</a></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p  align="center"><a class="btn btn-lg btn-success" href="#" role="button" >Soon available!</a></p>
            </div>
            <div class="col-lg-4"  align="center">
                <p  align="center"><a class="btn btn-lg btn-success" href="#" role="button" >Soon available!</a></p>
            </div>
        </div>
   
    </div>

{% endblock %}
</html>
