<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Profiling</h1>
        <h2>Personality traits indicate propensities to certain habits.</h2>

		<form method='post' action="">
        <div class="row">
            <div class="col-lg-4" align="left">
                <p align="center"><h2 align="center">Saver</h2></p>
            </div>
            <div class="col-lg-4"  align="left">
                <p  align="center"><h2 align="left">Questions</h2></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" align="left">
                <p class="lead" align="center"><img src="/static/profile.jpg" alt="" style="width:304px;height:228px;" align="center"></p>
            </div>
            <div class="col-lg-4"  align="left">
            <ol>
            <div>

              <p><font size="2">I try to do tasks as soon as possible and not leave them until last minute.</font></p>
              <p>Strongly disagree</p>
              <label><input type="checkbox" class="radio" value="1" name="q1[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q1[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q1[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q1[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q1[]" />5</label>
              <p>Strongly agree</p>
              </font>
            </div>

            <div>
              <p>I always keep my promises.</p>
              <p>Strongly disagree</p>
              <label><input type="checkbox" class="radio" value="1" name="q2[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q2[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q2[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q2[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q2[]" />5</label>
               <p>Strongly agree</p>
            </div>

            <div>
              <h3>I take my time to make decisions.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q3[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q3[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q3[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q3[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q3[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3>I look at things from all different angles before I go ahead.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q4[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q4[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q4[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q4[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q4[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3>I enjoy taking part in surveys.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q5[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q5[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q5[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q5[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q5[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3>I find it very difficult to get up in the morning.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q6[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q6[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q6[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q6[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q6[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3>I spend a lot of money on  partying and socializing.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q7[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q7[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q7[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q7[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q7[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3>I spend a lot of money on my appearance.</h3>
              <h1>Strongly disagree</h1>
              <label><input type="checkbox" class="radio" value="1" name="q8[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q8[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q8[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q8[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q8[]" />5</label>
               <h1>Strongly agree</h1>
            </div>

            <div>
              <h3> Socializing.</h3>
              <h1>Not interested</h1>
              <label><input type="checkbox" class="radio" value="1" name="q9[]" />1</label>
              <label><input type="checkbox" class="radio" value="1" name="q9[]" />2</label>
              <label><input type="checkbox" class="radio" value="1" name="q9[]" />3</label>
              <label><input type="checkbox" class="radio" value="1" name="q9[]" />4</label>
              <label><input type="checkbox" class="radio" value="1" name="q9[]" />5</label>
               <h1>Very interested</h1>
            </div>

            <div>
              <h3>I am often running late.</h3>
              <label><input type="checkbox" class="radio" value="1" name="q10[]" />Yes</label>
              <label><input type="checkbox" class="radio" value="1" name="q10[]" />No</label>
            </div>
            </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" align="center">
                <p align="center"><a class="btn btn-lg btn-success" href="#" role="button" >Soon available!</a></p>
        		  <input type="submit" value="Submit">
            </div>
            <div class="col-lg-4"  align="center">
                <p  align="center"></a></p>
            </div>
        </div>
        
		 </form>

$('input[type="checkbox"]').on('change', function() {
    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
});   
    </div>

{% endblock %}
</html>
